<h1 style = "text-align: center"> SQL Tutorial </h1>

#### In this tutorial, we'll learn how to leverage SQL to query the data that we need from Big Query. Below are some examples for your reference. Feel free to explore more from the links that we have provided. In the example below, we are querying the entire data frame to investigate it further.

In [4]:
!python3 -m pip install google.cloud
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ='/home/jovyan/ironhacks-covid19-data-680c217a40e7.json'
bigquery_client = bigquery.Client(project='ironhacks-covid19-data')
bigquery_client
bigquery_client = bigquery.Client()



QUERY = """

SELECT *
FROM ironhacks-covid19-data.ironhacks_covid19_training.weather_data




"""

query_job = bigquery_client.query(QUERY)
!python3 -m pip install pandas
import pandas
data = query_job.to_dataframe()
data.head()

Collecting google.cloud
  Using cached google_cloud-0.34.0-py2.py3-none-any.whl (1.8 kB)
Installing collected packages: google.cloud
Successfully installed google.cloud
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

,date,max_rel_humidity,max_temperature,mean_temperature,min_rel_humidity,min_temperature,potential_water_deficit,precipitation_data,wind_speed
0,2020-03-07,91.5330,10.3134,2.7480,31.9682,-4.8174,-2.1513,0.0,3.1605
1,2020-04-01,91.9615,11.5364,5.9864,46.7778,0.4365,-2.0842,0.0,3.6375
2,2020-06-05,89.1853,30.8673,24.8509,44.3259,18.8345,-5.8153,0.0,2.0139
3,2020-06-06,97.9579,30.9195,22.9435,37.9424,14.9675,-6.1821,0.0,3.4404
4,2020-06-16,82.2795,28.0398,21.1392,34.9876,14.2386,-6.0474,0.0,3.2125

#### The command shown below gives us the names of the columns of the dataset called "weather data"

In [6]:
data.columns.tolist()

['date',
 'max_rel_humidity',
 'max_temperature',
 'mean_temperature',
 'min_rel_humidity',
 'min_temperature',
 'potential_water_deficit',
 'precipitation_data',
 'wind_speed']

#### Next, we wish to extract the date and relative humidity from the table when the date is 2020-06-16. "WHERE" command comes into play here; it is used when we want to get data with specific constraints, the constraint being the date here.

In [14]:
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ='/home/jovyan/ironhacks-covid19-data-680c217a40e7.json'
bigquery_client = bigquery.Client(project='ironhacks-covid19-data')
bigquery_client
bigquery_client = bigquery.Client()


QUERY = """

SELECT date, max_rel_humidity
FROM ironhacks-covid19-data.ironhacks_covid19_training.weather_data
WHERE date='2020-06-16'




"""

query_job = bigquery_client.query(QUERY)
!python3 -m pip install pandas
import pandas
data = query_job.to_dataframe()
data.head()

Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

         date  max_rel_humidity
0  2020-06-16           82.2795

#### Now, let's learn how to combine two tables from Google Big Query: "weather_data" and "covid19_tests_cases_deaths_IN". "JOIN" is used here; it combines covid tests from one table with the relative humidity from the other table, in accordance with the dates.

In [15]:
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.bigquery import magics
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] ='/home/jovyan/ironhacks-covid19-data-680c217a40e7.json'
bigquery_client = bigquery.Client(project='ironhacks-covid19-data')
bigquery_client
bigquery_client = bigquery.Client()


QUERY = """

SELECT
  t1.DATE,
  t1.COVID_TEST,
  t2.max_rel_humidity
FROM ironhacks_covid19_training.covid19_tests_cases_deaths_IN t1
JOIN ironhacks_covid19_training.weather_data t2 ON t1.DATE = t2.date




"""

query_job = bigquery_client.query(QUERY)
!python3 -m pip install pandas
import pandas
data = query_job.to_dataframe()
data.head()

Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

         DATE  COVID_TEST  max_rel_humidity
0  2020-02-26           1           89.2598
1  2020-02-27           1           66.7407
2  2020-02-29           1           78.7638
3  2020-03-02           2           84.8391
4  2020-03-03           4           94.2583